<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static',filename= 'css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

        <title>MementoCinema {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container text-center">{% block content %}{% endblock %}</div>
</body>
</html>