<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">


        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript for bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ripples.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/material.min.js') }}"></script>

        <!-- d3-->
        <script src="//d3js.org/d3.v3.min.js"></script>

        <!-- Custom -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/curtain.css') }}">
         <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
         <script src="{{ url_for('static', filename='js/curtain.js') }}"></script>
         <script src="{{ url_for('static', filename='js/jquery_easing_1_3.js') }}"></script>


        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>

        <script>
            $(document).ready(function () {
                $.material.init();
            });
        </script>

        <title> Memento Cinema | Search engine</title>
    {% endblock %}
</head>
<body>
<div class="container text-center">
    <header>
        <div class="row">
            <span class="title"> Memento Cinema </span>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>MementoCinema - Copyright 2015</footer>
</div>
</body>
</html>