{% extends "base.html" %}
{% block title %} - Search {% endblock %}

{% block content %}
<div class="container">
    <div class="leftcurtain"><img src="static/images/frontcurtain.jpg"/></div>
    <div class="rightcurtain"><img src="static/images/frontcurtain.jpg"/></div>
    <a class="rope" href="#"><img src="static/images/rope.png"/></a>

    <div class="search row">
        <span class="subTitle"> Memento Cinema </span>
        <div class="form-inline">
            <div class="row">
                <div class="form-group">
                    <input id="searchInput" class="form-control customInput" placeholder="Search..." required type=text
                           name=search>
                </div>

                <div class="form-group">
                    <input id="seuilInput" class="form-control customInput" placeholder="Ratio" required type=number
                           value=0.8 name=seuil>
                </div>
                <div class="form-group">
                    <input id="searchBtn" type="submit" class="btn btn-primary" value="Search">
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="radio radio-primary">
                            <label class="searchText">
                                <input checked value="actors" name="type" type="radio"> Actors
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="radio radio-primary">
                            <label class="searchText">
                                <input value="movies" name="type" type="radio"> Films
                            </label>
                        </div>
                    </div>

                </div>
                <!--
                <div class="progress" style="width: 50%; margin: 50px;">
                    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                -->
            </div>
            <br/>
        </div>
    </div>

    <div class="screen">
        <ul class="nav nav-pills">
            <li id="tab1" class="active"><a data-toggle="pill" href="#home">Statistique</a></li>
            <li id="tab4"><a data-toggle="pill" href="#menu3">Memento</a></li>
            <li id="tab2"><a data-toggle="pill" href="#menu1">Similarité pages</a></li>
            <li id="tab3"><a data-toggle="pill" href="#menu2">Similarité recherche</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div id="citation">
                  <q>I've got a feeling we're not in Kansas anymore. </q>
                  <cite> (The Wizard of Oz) </cite>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <ul id="listeTarget">

                </ul>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-5 col-md-offset-2">
                        <h2> Graphe de similitude :</h2>
                    </div>
                    <div class="sliderDiv col-md-3">
                        <form>
                            Seuil minimum de similitude :
                            <input type="range" step="0.025" name="points" min="0" max="1" id="similitude" value="0">
                        </form>
                    </div>
                </div>
                <div class="row" id="graph">
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div>
                    <img id="loading" src="static/images/loading.gif" />
                </div>
                <ul id="listeSimilar">

                </ul>
            </div>
          </div>
    </div>
</div>

{% endblock %}