{% extends "base.html" %}
{% block title %} - Search {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1>No bullshit, try it</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-inline" action="{{ url_for('search') }}" method="post" role="form">
            <div class="row">
                <div class="form-group">
                    <input id="searchInput" class="form-control" placeholder="Search..." required type=text
                           name=search>
                </div>
                <div class="form-group">
                    <input id="seuilInput" class="form-control" placeholder="Ratio" required type=text
							value=0.8 name=seuil>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Search">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input name="actors" type="checkbox"> Actors
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="films" type="checkbox"> Films
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
